<h1>聯絡我們</h1>

<% if @contact.errors.any? %>
  <ul>
  <% @contact.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@contact) do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>
  <br />

  <%= f.label :email %>
  <%= f.text_field :email %>
  <br />

  <%= f.label :content %>
  <%= f.text_area :content %>

  <br />
  <%= f.submit %>
<% end %>

