<h1>聯絡我們</h1>

<% if @contact.errors.any? %>
  <ul>
  <% @contact.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= simple_form_for(@contact) do |f| %>
  <%= f.input :subject %>
  <%= f.input :email %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>

